# Server configuration
PORT=3000
NODE_ENV=development
SERVER_PUBLIC_IP=34.123.228.126

# Database
MONGODB_URI=mongodb://localhost:27017/cpen321

# Google Auth
GOOGLE_CLIENT_ID=645452205793-vt9m94i74rijk3qb929h0ij6v7iohhik.apps.googleusercontent.com

# JWT
JWT_SECRET=your_jwt_secret_key_here

# Other API keys, secrets, and configurations